@media (max-width: 800px){
    .editor-kid{
  
     flex-direction: column;
     gap: 0px;
     margin: 0;
     padding: 1em;
     border-radius: 0;
    
    }

    
    hea

    footer{
      
        position:static ;
    }

    canvas{
    width: 100%;
      
    }
   
   

    header a{
        margin-top: 30px;
        font-size: 20px;
    }

}


@media (min-width: 900px){
    .editor-kid{
  
        flex-direction: row;
        gap: 10px;
       
        ;
      
       
       }


       .btn-user{
        font-size: larger;
       }

       canvas{
     
      
       }

       


       .modal{
        font-size: 30px;
        margin-bottom: 550px;
       }
   

       .gallery-container{
        margin-right: 15vh;
        margin-left: 15vh;
    }
}
