*{
    box-sizing: border-box;
}

html{

    background-color: bisque;
}

body{
    font-family: fantasy, Helvetica, sans-serif;
  
    height: 100%;
    
   
}



main{
    height: 100%;
    text-align: center;
    width: 100%;
}



canvas {
   
    border: 1px solid lightgray;
    width: 30vh;
    
}

img{
    width: 16vh;
    border-radius: 5%;
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

a{
    margin-top: 50%;
}

a:hover{

    cursor: pointer;
}
footer,
header{
    width: 100%;
}