.btn{
    letter-spacing: 0.03em;
   
    color: white;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 2, 238);
    padding: 0.625em 1.25em;
    font-size: 1em;
    
    font-family: inherit;
    cursor: pointer;
    
}



