.gallery{
    
    
 }
 
 
 .gallery-container{
    
 }
 
 .layout-gallery{
     background-color: rgba(253, 253, 253, 0.288);
     border: 1px solid wheat;
     
     margin: 40px;
     margin-bottom: 10px ;
     
     border-radius: 40px;
 }


 .about-me{
    background-color: rgba(253, 253, 253, 0.288);
    border: 1px solid wheat;
    
    margin: 40px;
    margin-bottom: 10px ;
    font-size: 200% ;
    border-radius: 40px;

 }